[submodule "src/main/proto"]
	path = src/main/proto
	url = git@gitlab.pic.es:LidarCTA/lidar-protobufs.git
[submodule "libs/lidar-libutil"]
	path = libs/lidar-libutil
	url = git@gitlab.pic.es:LidarCTA/lidar-libutil.git
